# Projeto 2 - Ciência dos Dados

## Teste e predição de qualidade de vinhos brancos

## Integrantes:

Alberto Carrera

Arthur da Fonseca

Gabriel Barbosa

Rodrigo Gomes

In [ ]:
%matplotlib inline
import pandas as pd
import os

# Para ter melhor print
from IPython.display import display

In [87]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\User\Desktop\INSPER\CIENCIA DE DADOS\Projeto-2-CDADOS

In [88]:
dados = pd.read_excel('winequality-white.xls')
dados.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0000,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6
7,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1001.0000,3.00,0.45,8.8,6
8,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
9,8.1,0.22,0.43,1.5,0.044,28.0,129.0,0.9938,3.22,0.45,11.0,6

### Limpando o datasheet de valores exdrúxulos

##### Density

In [90]:
#ARREDONDANDO OS VALORES DA COLUNA 'DENSITY' QUE SÃO MAIORES DO QUE 1, POIS O EXCEL 
#ENTENDE O 1.000056 COMO UM NÚMERO NATURAL, NÃO RACIONAL.

#SE FIZERMOS A TROCA POR ',' O PYTHON NÃO ENTENDERIA, PORTANTO OPTAMOS PELO ARREDONDAMENTO.
#OS NÚMEROS VARIAVAM MENOS DE 4% PARA CIMA DE UM, COM O NÚMERO MÁXIMO DE 1.03898.
#É POSSÍVEL VER NO DATASHEET ACIMA, NA LINHA 7.
#PORTANTO ACHAMOS VÁLIDA TAL SIMPLIFICAÇÃO.

def arredonda(x):
    if x > 1000:
        return 1
    else:
        return x

dados.density = dados.density.apply(arredonda)
dados.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0000,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6
7,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0000,3.00,0.45,8.8,6
8,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
9,8.1,0.22,0.43,1.5,0.044,28.0,129.0,0.9938,3.22,0.45,11.0,6

In [91]:
#PODEMOS VER QUE FUNCIONOU PELA LINHA 7, QUE AGORA ESTÁ COMO 1.000, OU SEJA, 1.